
<div class="container-fluid">
          <!-- H E A D E R -->
    <app-header></app-header>
    
    
    <main class="container-fluid">
        <div class="row my-2">
            <div class="navigations-container px-0 mx-3">
                <navigations ></navigations>
            </div>
            <div class="router-container px-0 col-md-9">
                <router-outlet></router-outlet>
            </div>  
        </div>    
    </main>
    

            <!-- F O O T E R -->
    <footer class="container-fluid text-center">
          <div class="col-sm-11 my-3">
               &copy; Angular Application
          </div>
    </footer>

</div>
    
    <!--  col-1 col-sm-4 -->